<?xml version="1.0"?>
<config>
    <modules>
        <Alekseon_DataFlow>
            <version>0.1.0</version>
        </Alekseon_DataFlow>
    </modules>
    <global>
        <blocks>
            <alekseon_dataFlow>
                <class>Alekseon_DataFlow_Block</class>
            </alekseon_dataFlow>
        </blocks>
        <helpers>
            <alekseon_dataFlow>
                <class>Alekseon_DataFlow_Helper</class>
            </alekseon_dataFlow>
        </helpers>
        <models>
            <alekseon_dataFlow>
                <class>Alekseon_DataFlow_Model</class>
                <resourceModel>alekseon_dataflow_mysql4</resourceModel>
            </alekseon_dataFlow>
            <alekseon_dataflow_mysql4>
                <class>Alekseon_DataFlow_Model_Mysql4</class>
				<entities>
                    <alekseon_dataflow_shedule><table>alekseon_dataflow_shedule</table></alekseon_dataflow_shedule>
                </entities>
            </alekseon_dataflow_mysql4>  
        </models>
        <resources>
            <alekseon_dataflow_setup>
                <setup>
                    <module>Alekseon_DataFlow</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </alekseon_dataflow_setup>                          
        </resources>         
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Alekseon_DataFlow before="Mage_Adminhtml">Alekseon_DataFlow_Adminhtml</Alekseon_DataFlow>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>